
@{
    ViewBag.Title = "error";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="wrapper">
    <nav>

        <div class="content">
            <div class="logo"><a href="#">RentalHousing</a></div>
            <ul class="links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Customer service</a></li>
                <li>
                    <a href="#" class="desktop-link" style="color:white;text-decoration:none;margin-left: 190px;"> <i class="fas fa-user" style="color:white;padding-right: 5px;"></i>Thamilarasan<i class="fas fa-caret-down" style="color:white;padding :28px 3px 20px 9px;"></i></a>
                    <ul style="color:white;text-decoration:none;margin-left: 200px;">
                        <li><a href="#" style="color:white;text-decoration:none;">Profile</a></li>
                        <li><a href="#" style="color:white;text-decoration:none;">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>



